name: Docker image

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the API Docker image
      run: |
        DECODED_VALUE=$(echo "${{ secrets.DB_CONNECTION_STRING }}" | base64 --decode)
        echo "$DECODED_VALUE"
        docker build -f FFXIV-RaidLootAPI/Dockerfile -t rickchinois/ffxivraidlootapi:latest .
        docker run -e DB_CONNECTION_STRING=$DECODED_VALUE -e JWT_TOKEN="${{ secrets.JWT_TOKEN }}" rickchinois/ffxivraidlootapi:latest
        
    - name: Push API image to docker hub
      run: |
        docker login -u rickchinois -p ${{secrets.DOCKER_HUB_TOKEN}}
        docker push rickchinois/ffxivraidlootapi:latest
