name: Docker image

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the API Docker image
      run: |
        docker build -f FFXIV-RaidLootAPI/Dockerfile -t rickchinois/ffxivraidlootapi:latest .
        echo "DB_CONNECTION_STRING=${{ secrets.DB_CONNECTION_STRING }}" > .env
        echo "JWT_KEY=${{ secrets.JWT_KEY }}" >> .env
        docker run --env-file .env rickchinois/ffxivraidlootapi:latest
        rm .env  # Clean up
    - name: Push API image to docker hub
      run: |
        docker login -u rickchinois -p ${{secrets.DOCKER_HUB_TOKEN}}
        docker push rickchinois/ffxivraidlootapi:latest
